<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHJCysrawv_GO-dKjfmwcEPMaovCwLsCw</string>
	<key>GCM_SENDER_ID</key>
	<string>220680215885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.itsmycourt</string>
	<key>PROJECT_ID</key>
	<string>itsmycourt-f38db</string>
	<key>STORAGE_BUCKET</key>
	<string>itsmycourt-f38db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220680215885:ios:f8f9a90322f7564373eb04</string>
</dict>
</plist>